<footer>
    <div class="to_reach">
      <div class="content">
        <h2>We love development 
          Let’s try something new</h2>
          <div class="btn_footer">
            <a href="/">Take the leap, reach out to innovate!</a>
          </div>
      </div>
      <div class="img">
        <%= image_tag('footer/Group 1641.png', alt: 'My Image') %>

      </div>
    </div>

    <div class="footer_direct_link">
      <div class="link_col_1">
        <ul>
          <li><a href="">SEO</a></li>
          <li><a href="">Design</a></li>
          <li><a href="">Marketing</a></li>
          <li><a href="">Development</a></li>
        </ul>
      </div>
      <div class="link_col_2">
        <ul>
          <li><a href="">Career</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Privecy Policy</a></li>
          <li><a href="">Term of Services</a></li>
        </ul>
      </div>
      <div class="link_col_3">
        <ul>
          <li><a href="">SEO</a></li>
          <li><a href="">Design</a></li>
          <li><a href="">Marketing</a></li>
          <li><a href="">Development</a></li>
        </ul>
      </div>
      <div class="link_col_4">
        <ul>
          <li><a href="">Career</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Privecy Policy</a></li>
          <li><a href="">Term of Services</a></li>
        </ul>
      </div>
    </div>

    <div class="tel_support_box">
      <div class="tel_support_1">
        <%= image_tag('footer/Component 12.png', alt: 'My Image') %>
        <div class="tel_1">
          <label for="">+91-7375838577</label>
          <p>Mon-Fri 10am-7pm</p>
        </div>
      </div>
      <div class="tel_support_2">
        <%= image_tag('footer/Component 12.png', alt: 'My Image') %>
        <div class="tel_1">
          <label for="">zuluoneintheworld@gmail.com</label>
          <p>Online Support</p>
        </div>
      </div>
      <div class="tel_support_3">
        <%= image_tag('footer/Component 12.png', alt: 'My Image') %>
        <div class="tel_1">
          <address>
            Shop-21, 3rd Floor, Sector-7, Patel Marg, Mansarovar
          </address>
          <p>Jaipur, Rajasthan (India)</p>
        </div>
      </div>
    </div>
    <div class="copy_right">
      <p>Copyright ©2022 zuluoneintheworld | All right reserved.</p>
      <div class="social">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-snapchat"></i>
        <i class="bi bi-facebook"></i>
      </div>
      <div class="top_link">
        <a href="#"><i class="bi bi-arrow-up"></i></a>
      </div>
    </div>
  </footer> 