<nav class="navbar navbar-expand-lg">
    <div class="container">
      <%= link_to "Logo", "/", :class => "navbar-brand"  %>
      <button class="navbar-toggler hamburger" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav_element collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-lg-0">
          <li class="nav-item">
            <%= link_to "About", "About", :class => "nav-link"  %>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Service
            </a>
            <ul class="dropdown-menu">
              <div class="services_text">

                <div class="drop_row">
                  <div class="row_1">
                    <div class="Single_col">
                      <div class="heading">
                        <a href="services/marketing.html">Marketing</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="nav.html">Search Engine Optimization (SEO)</a></li>
                          <li><a href="">Search Engine Marketing (SEM)</a></li>
                          <li><a href="">Pay Per Click</a></li>
                          <li><a href="">Content Writing</a></li>
                          <li><a href="">PR Services</a></li>
                          <li><a href="">Social Media Optimization (SMO)</a></li>
                          <li><a href="">Product Marketing Strategy</a></li>
                          <li><a href="">Creative Services</a></li>
                          <li><a href="">Campaigns</a></li>
                          <li><a href="">Omnichannel Marketing</a></li>
                          <li><a href="">Brand Building</a></li>
                          <li><a href="">Ads</a></li>
                          <li><a href="">App Store Optimisation</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="multi_col">
                      <div class="heading">
                        <a href="services/web_designing.html">Web Designing</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Redesigning</a></li>
                          <li><a href="">Conversion</a></li>
                          <li><a href="">Framework</a></li>
                          <li><a href="">Responsive</a></li>
                          <li><a href="">AEM</a></li>
                        </ul>
                      </div>
                      <div class="heading hed">
                        <a href="services/web_development.html">Web Development</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">CMS</a></li>
                          <li><a href="">Web Portals</a></li>
                          <li><a href="">API</a></li>
                          <li><a href="">Web App Development</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="multi_col">
                      <div class="heading">
                        <a href="services/smart_solutions.html">Smart Solutions</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Hardware Prototyping</a></li>
                          <li><a href="">Data Forecasting</a></li>
                          <li><a href="">Business Intelligence</a></li>
                          <li><a href="">Machine Leaarning</a></li>
                          <li><a href="">Artificial Intelligence</a></li>
                          <li><a href="">IoT</a></li>
                          <li><a href="">Embedded Systems</a></li>
                          <li><a href="">Data Analytics</a></li>
                        </ul>
                      </div>
                      <div class="heading hed">
                        <a href="services/app_development.html">Mobile App Development</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Android</a></li>
                          <li><a href="">iOS</a></li>
                          <li><a href="">Cloud Application</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="multi_col">
                      <div class="heading">
                        <a href="services/animation.html">Animation</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">AR</a></li>
                          <li><a href="">VR</a></li>
                          <li><a href="">VFX - SFX</a></li>
                          <li><a href="">Assets Creation</a></li>
                          <li><a href="">3D Modelling</a></li>
                        </ul>
                      </div>
                      <div class="heading hed">
                        <a href="services/support.html">Support</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Domains</a></li>
                          <li><a href="">Maintence</a></li>
                          <li><a href="">Hosting</a></li>
                          <li><a href="">Penetration Testing</a></li>
                          <li><a href="">Devops</a></li>
                          <li><a href="">Consulting</a></li>
                          <li><a href="">Tesing</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="multi_col">
                      <div class="heading">
                        <a href="services/graphic_desinging.html">Graphic Designing</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Typography</a></li>
                          <li><a href="">Infography</a></li>
                          <li><a href="">Doodles</a></li>
                          <li><a href="">Illustrations</a></li>
                          <li><a href="">Motion Graphics</a></li>
                        </ul>
                      </div>
                      <div class="heading hed">
                        <a href="services/business_solutions.html">Business Solutions</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">ERP</a></li>
                          <li><a href="">CRM</a></li>
                          <li><a href="">IMS</a></li>
                          <li><a href="">Automation</a></li>
                          <li><a href="">Hybrid solutions</a></li>
                          <li><a href="">E-commerce</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="Single_col">
                      <div class="heading hed">
                        <a href="services/outsourcing.html">Outsourcing</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Consultancy</a></li>
                          <li><a href="">CTO</a></li>
                          <li><a href="">Tech Strategies</a></li>
                          <li><a href="">Process Strategies</a></li>
                          <li><a href="">Dedicated Hiring</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="Single_col">
                      <div class="heading hed">
                        <a href="services/desktop_app_development.html">Desktop App Development</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Windows</a></li>
                          <li><a href="">MacOS</a></li>
                          <li><a href="">Linux</a></li>
                          <li><a href="">Chrome Os</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="Single_col">
                      <div class="heading hed">
                        <a href="services/crossplatform.html">Crossplatform</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Flutter</a></li>
                          <li><a href="">React Native</a></li>
                          <li><a href="">Ionic</a></li>

                        </ul>
                      </div>
                    </div>
                    <div class="Single_col">
                      <div class="heading hed">
                        <a href="services/ui_ux.html">UI/UX</a>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="">Mobile</a></li>
                          <li><a href="">Tab</a></li>
                          <li><a href="">Laptop</a></li>
                          <li><a href="">Desktop</a></li>
                          <li><a href="">T.V.</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </li>

          <li class="nav-item">
            <%= link_to "Product", "Product", :class => "nav-link"  %>

          </li>
        </ul>
        <form class="d-flex" role="search">
          <div class="nav_contact_btn">
            <div class="box">
            <%= link_to "Contact Us", "Contact", :class => "nav-link"  %>

            </div>
          </div>
        </form>
      </div>
    </div>
  </nav> 