<div class="joinourfamily_container">
    <div class="content">
      <p>
        We believe it takes great people to make a great product. That’s why
        we hire not only the perfect professional fits, but people who embody
        our company values.
      </p>
      <div class="btn_2">
        <a href="#contact-us">Welcome</a>
      </div>
    </div>
  </div>