<div class="partnership_model">
    <div class="itme">
      <div class="logo">
        
        <%= image_tag('partnership/04.png', alt: 'My Image') %>
      </div>
      <div class="headinh">
        <h2>Sample</h2>
      </div>
      <div class="text">
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda doloremque. Facilis officiis
          at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat soluta modi illo quam
          repellendus assumenda neque? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda
          doloremque. Facilis m repellendus assumenda neque?</p>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda doloremque. Facilis officiis
          at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat soluta modi illo quam
          repellendus Facilis officiis at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat
          soluta modi illo quam repellendus assumenda neque?</p>
      </div>
    </div>
    <div class="itme">
      <div class="logo">
        <%= image_tag('partnership/04.png', alt: 'My Image') %>
      </div>
      <div class="headinh">
        <h2>Sample</h2>
      </div>
      <div class="text">
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda doloremque. Facilis officiis
          at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat soluta modi illo quam
          repellendus assumenda neque? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda
          doloremque. Facilis m repellendus assumenda neque?</p>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda doloremque. Facilis officiis
          at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat soluta modi illo quam
          repellendus Facilis officiis at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat
          soluta modi illo quam repellendus assumenda neque?</p>
      </div>
    </div>
    <div class="itme">
      <div class="logo">
        <%= image_tag('partnership/04.png', alt: 'My Image') %>
      </div>
      <div class="headinh">
        <h2>Sample</h2>
      </div>
      <div class="text">
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda doloremque. Facilis officiis
          at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat soluta modi illo quam
          repellendus Facilis officiis at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat
          soluta modi illo quam repellendus assumenda neque?</p>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda doloremque. Facilis officiis
          at quas a quae perspiciatis, dolorem dignissimos perferendis, architecto fugiat soluta modi illo quam
          repellendus assumenda neque? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, assumenda
          doloremque. Facilis m repellendus assumenda neque?</p>
      </div>
    </div>
</div>