  <div class="about_page_heading">
    <div class="main_heading">
      <div class="heading">
        About Us
      </div>
      <div class="why_us">
        <a href="#whyus_container">W.................?</a>
      </div>
      <div class="founder_message">
        <a href="#foundermessage_container">Founder’s Message</a>
      </div>
      <div class="who_we_are">
        <a href="#who_we_container">Who we are?</a>
      </div>
    </div>
  </div>