<div class="foundermessage_container" id="foundermessage_container">
    <div class="message_img">

      <div class="message">
        
        <div class="msg">
          <div class="invertedcomma_start">
            <%= image_tag('about/Inverted_comma_for_left.png', alt: 'My Image') %>
          </div>
          <p>

            This is a sample text for the brief description of the site we’ve worked on . 
            Lorem ipsum ipsum lorem lorem&ipsum ipsum& lorem
            
          </p>
          <div class="invertedcomma_end">
            <%= image_tag('about/Inverted_comma_for_right.png', alt: 'My Image') %>

          </div>
        </div>
        <div class="founder_name">
         <h2>Bhawansh Jangir</h2>
         <h3>zuluoneintheworld</h3>
        </div>
        </div>
      <div class="founder_img">
        <%= image_tag ('about/founder.png') %>
      </div>
    </div>
  </div>