<%= stylesheet_link_tag "product/product" %>


  <div class="products_page_heading">
    <h1>Product</h1>
  </div>


  <div class="product_container">
    <div class="products">
      <div class="product_img">
        <%= image_tag ('product/product.png') %>
        <div class="product_name">Product</div>
      </div>
      <div class="about_product">
        <div class="logo border_right">
          logo
        </div>
        <div class="about">
          <div class="heading">
            This is a sample one lined heading info.
          </div>
          <p>This is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& lorem</p>
        </div>
      </div>
    </div>
  </div>

  <div class="product_container">
    <div class="products">
      <div class="product_img">
        <%= image_tag ('product/product.png') %>
        <div class="product_name">Product</div>
      </div>
      <div class="about_product">
        <div class="about">
          <div class="heading">
            This is a sample one lined heading info.
          </div>
          <p>This is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& lorem</p>
        </div>
        <div class="logo border_left">
          logo
        </div>
      </div>
    </div>
  </div>

  <div class="product_container">
    <div class="products">
      <div class="product_img">
        <%= image_tag ('product/product.png') %>
        <div class="product_name">Product</div>
      </div>
      <div class="about_product">
        <div class="logo border_right">
          logo
        </div>
        <div class="about">
          <div class="heading">
            This is a sample one lined heading info.
          </div>
          <p>This is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& loremThis is a sample text for the brief description of the site we’ve worked on . Lorem ipsum ipsum lorem lorem&ipsum ipsum& lorem</p>
        </div>
      </div>
    </div>
  </div>